.articles-card {
	.date-section {
		text-align: right;
		margin-top: 6px;
		h5 {
			margin-bottom: 4px;
			font-weight: bold;
		}
		h6 {
			font-weight: normal;
		}
	}
	.content-section {
		h3 {
			margin-bottom: 8px;
		}
		p {
			font-size: 18px;
		}
	}
}