html,
body {
  font-family: 'Ubuntu', sans-serif;
  background-color: $white;
  height: 100%;
}

svg {
  display: inline;
  vertical-align: baseline;
}

#__next {
  @media only screen and(max-width: 600px) {
    overflow-y: auto;
    overflow-x: hidden;
  }
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
}

.content-container {
  padding: 50px;
}

.mb-5 {
  margin-bottom: 50px;
}
.mb-4 {
  margin-bottom: 40px;
}
.mb-3 {
  margin-bottom: 30px;
}
.mb-2 {
  margin-bottom: 20px;
}
.mb-1 {
  margin-bottom: 10px;
}

.mt-5 {
  margin-top: 50px;
}
.mt-4 {
  margin-top: 40px;
}
.mt-3 {
  margin-top: 30px;
}
.mt-2 {
  margin-top: 20px;
}
.mt-1 {
  margin-top: 10px;
}

.article-paragraph {
  font-size: 16px;
}

.cursor-pointer {
  cursor: pointer;
}
